In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os

In [3]:
os.chdir(r'C:\Users\juanc\OneDrive\Desktop\Big data y Machine learning\TRABAJOS PRACTICOS\TP2_Intro a EPH\BASES')
print(os.listdir())  # Muestra todos los archivos en el directorio actual

['df_2005.json', 'df_2005.xlsx', 'df_2025.json', 'df_caba_var.json', 'df_caba_var.xlsx', 'df_caba_var_limpio.xlsx', 'df_i_2005.json', 'df_i_2005.xlsx', 'df_i_2025.json', 'EPH_disenoreg_T1_2005.pdf', 'EPH_registro_1T2025.pdf', 'Hogar_t105.dta', 'individual_2005_2025_completo.xlsx', 'Individual_t105.dta', 'T105.txt', 'usu_hogar_T125.xlsx', 'usu_individual_T125.xlsx']

Punto 1

In [4]:
# Cargo las bases de datos
df_hogar_2005=pd.read_stata(r'C:\Users\juanc\OneDrive\Desktop\Big data y Machine learning\TRABAJOS PRACTICOS\TP2_Intro a EPH\BASES\Hogar_t105.dta',convert_categoricals=False)
df_hogar_2025=pd.read_excel(r'C:\Users\juanc\OneDrive\Desktop\Big data y Machine learning\TRABAJOS PRACTICOS\TP2_Intro a EPH\BASES\usu_hogar_T125.xlsx')
df_i_2005=pd.read_stata(r'C:\Users\juanc\OneDrive\Desktop\Big data y Machine learning\TRABAJOS PRACTICOS\TP2_Intro a EPH\BASES\Individual_t105.dta',convert_categoricals=False)
df_i_2025=pd.read_excel(r'C:\Users\juanc\OneDrive\Desktop\Big data y Machine learning\TRABAJOS PRACTICOS\TP2_Intro a EPH\BASES\usu_individual_T125.xlsx')

In [5]:
df_hogar_2005.head()

,CODUSU,nro_hogar,realizada,ano4,trimestre,region,mas_500,aglomerado,pondera,iv1,...,gdeccfr,pdeccfr,adeccfr,vii1_1,vii1_2,vii2_1,vii2_2,vii2_3,vii2_4,idimph
0,125082,1.0,1.0,2005.0,1.0,43.0,S,2.0,377.0,1.0,...,04,,04,2.0,0.0,98.0,0.0,0.0,0.0,00000
1,125283,1.0,1.0,2005.0,1.0,43.0,S,2.0,283.0,1.0,...,09,,09,1.0,2.0,3.0,4.0,0.0,0.0,11000
2,125409,1.0,1.0,2005.0,1.0,43.0,S,2.0,337.0,1.0,...,06,,06,2.0,0.0,1.0,0.0,0.0,0.0,00000
3,125632,1.0,1.0,2005.0,1.0,43.0,S,2.0,485.0,1.0,...,10,,10,2.0,0.0,98.0,0.0,0.0,0.0,00000
4,126192,1.0,1.0,2005.0,1.0,43.0,S,2.0,223.0,1.0,...,08,,08,2.0,0.0,98.0,0.0,0.0,0.0,00000

In [6]:
df_hogar_2005.head()

,CODUSU,nro_hogar,realizada,ano4,trimestre,region,mas_500,aglomerado,pondera,iv1,...,gdeccfr,pdeccfr,adeccfr,vii1_1,vii1_2,vii2_1,vii2_2,vii2_3,vii2_4,idimph
0,125082,1.0,1.0,2005.0,1.0,43.0,S,2.0,377.0,1.0,...,04,,04,2.0,0.0,98.0,0.0,0.0,0.0,00000
1,125283,1.0,1.0,2005.0,1.0,43.0,S,2.0,283.0,1.0,...,09,,09,1.0,2.0,3.0,4.0,0.0,0.0,11000
2,125409,1.0,1.0,2005.0,1.0,43.0,S,2.0,337.0,1.0,...,06,,06,2.0,0.0,1.0,0.0,0.0,0.0,00000
3,125632,1.0,1.0,2005.0,1.0,43.0,S,2.0,485.0,1.0,...,10,,10,2.0,0.0,98.0,0.0,0.0,0.0,00000
4,126192,1.0,1.0,2005.0,1.0,43.0,S,2.0,223.0,1.0,...,08,,08,2.0,0.0,98.0,0.0,0.0,0.0,00000

In [7]:
#df_hogar_2005.to_json(r'C:\Users\juanc\OneDrive\Desktop\Big data y Machine learning\TRABAJOS PRACTICOS\TP2_Intro a EPH\BASES\df_2025.json',orient='records',lines=True)
#df_hogar_2005.to_json(r'C:\Users\juanc\OneDrive\Desktop\Big data y Machine learning\TRABAJOS PRACTICOS\TP2_Intro a EPH\BASES\df_2005.json',orient='records',lines=True)
#df_hogar_2005.to_excel(r'C:\Users\juanc\OneDrive\Desktop\Big data y Machine learning\TRABAJOS PRACTICOS\TP2_Intro a EPH\BASES\df_2005.xlsx',index=False)
#df_i_2005.to_excel(r'C:\Users\juanc\OneDrive\Desktop\Big data y Machine learning\TRABAJOS PRACTICOS\TP2_Intro a EPH\BASES\df_i_2005.xlsx',index=False)
#df_i_2005.to_json(r'C:\Users\juanc\OneDrive\Desktop\Big data y Machine learning\TRABAJOS PRACTICOS\TP2_Intro a EPH\BASES\df_i_2005.json',orient='records',lines=True)
#df_i_2025.to_json(r'C:\Users\juanc\OneDrive\Desktop\Big data y Machine learning\TRABAJOS PRACTICOS\TP2_Intro a EPH\BASES\df_i_2025.json',orient='records',lines=True)
#me bajo json para ayudarme con IA's

In [8]:

# Función para normalizar nombres de columnas
def normalizar_nombres(df):
    """Normalizar nombres de columnas a mayúsculas y eliminar espacios"""
    df.columns = df.columns.str.upper().str.strip()
    return df

# Aplicar normalización a todos los dataframes
df_hogar_2005 = normalizar_nombres(df_hogar_2005)
df_hogar_2025 = normalizar_nombres(df_hogar_2025)
df_i_2005 = normalizar_nombres(df_i_2005)
df_i_2025 = normalizar_nombres(df_i_2025)

print("Nombres de columnas normalizados")

Nombres de columnas normalizados

In [9]:
# Identificar variables comunes entre años para datos de hogar
hogar_comunes = set(df_hogar_2005.columns).intersection(set(df_hogar_2025.columns))
hogar_solo_2005 = set(df_hogar_2005.columns) - set(df_hogar_2025.columns)
hogar_solo_2025 = set(df_hogar_2025.columns) - set(df_hogar_2005.columns)

print("\n--- DATOS DE HOGAR ---")
print(f"Variables comunes: {len(hogar_comunes)}")
print(f"Variables solo en 2005: {len(hogar_solo_2005)}")
print(f"Variables solo en 2025: {len(hogar_solo_2025)}")

# Identificar variables comunes entre años para datos individuales
individual_comunes = set(df_i_2005.columns).intersection(set(df_i_2025.columns))
individual_solo_2005 = set(df_i_2005.columns) - set(df_i_2025.columns)
individual_solo_2025 = set(df_i_2025.columns) - set(df_i_2005.columns)

print("\n--- DATOS INDIVIDUALES ---")
print(f"Variables comunes: {len(individual_comunes)}")
print(f"Variables solo en 2005: {len(individual_solo_2005)}")
print(f"Variables solo en 2025: {len(individual_solo_2025)}")

# Mostrar algunas variables clave comunes
print("\nAlgunas variables comunes en hogar:")
print(sorted(list(hogar_comunes))[:10])

print("\nAlgunas variables comunes en individual:")
print(sorted(list(individual_comunes))[:10])

--- DATOS DE HOGAR ---
Variables comunes: 83
Variables solo en 2005: 5
Variables solo en 2025: 15

--- DATOS INDIVIDUALES ---
Variables comunes: 168
Variables solo en 2005: 8
Variables solo en 2025: 67

Algunas variables comunes en hogar:
['ADECCFR', 'ADECIFR', 'AGLOMERADO', 'ANO4', 'CODUSU', 'DECCFR', 'DECIFR', 'GDECCFR', 'GDECIFR', 'IDECCFR']

Algunas variables comunes en individual:
['ADECCFR', 'ADECIFR', 'ADECINDR', 'ADECOCUR', 'AGLOMERADO', 'ANO4', 'CAT_INAC', 'CAT_OCUP', 'CH03', 'CH04']

Solo debo mergear las individuales

In [10]:
# Primero, asegurémonos de que tenemos las variables clave para el merge
print("Variables en individual 2005:", df_i_2005.columns.tolist()[:10])
print("Variables en individual 2025:", df_i_2025.columns.tolist()[:10])

# Identificar variables comunes para el merge
variables_comunes = set(df_i_2005.columns).intersection(set(df_i_2025.columns))
print(f"\nVariables comunes para merge: {len(variables_comunes)}")
print("Algunas variables comunes:", sorted(list(variables_comunes))[:10])

Variables en individual 2005: ['CODUSU', 'NRO_HOGAR', 'COMPONENTE', 'H15', 'ANO4', 'TRIMESTRE', 'REGION', 'MAS_500', 'AGLOMERADO', 'PONDERA']
Variables en individual 2025: ['CODUSU', 'ANO4', 'TRIMESTRE', 'NRO_HOGAR', 'COMPONENTE', 'H15', 'REGION', 'MAS_500', 'AGLOMERADO', 'PONDERA']

Variables comunes para merge: 168
Algunas variables comunes: ['ADECCFR', 'ADECIFR', 'ADECINDR', 'ADECOCUR', 'AGLOMERADO', 'ANO4', 'CAT_INAC', 'CAT_OCUP', 'CH03', 'CH04']

In [11]:
# Agregar un identificador de año a cada dataframe antes del merge
df_i_2005['AÑO'] = 2005
df_i_2025['AÑO'] = 2025

print("Añadida columna de año a ambos datasets")

Añadida columna de año a ambos datasets

In [12]:
# Verificar las variables clave para el merge
variables_clave = ['CODUSU', 'NRO_HOGAR', 'COMPONENTE', 'AÑO']

for var in variables_clave:
    print(f"{var} - 2005: {df_i_2005[var].dtype}, 2025: {df_i_2025[var].dtype}")
    
    # Mostrar algunos valores únicos para comparar
    if var in ['CODUSU']:  # Para variables con muchos valores únicos
        print(f"  Ejemplos 2005: {df_i_2005[var].iloc[:3].tolist()}")
        print(f"  Ejemplos 2025: {df_i_2025[var].iloc[:3].tolist()}")
    else:
        print(f"  Valores únicos 2005: {sorted(df_i_2005[var].unique())[:5]}")
        print(f"  Valores únicos 2025: {sorted(df_i_2025[var].unique())[:5]}")
    print()

CODUSU - 2005: object, 2025: object
  Ejemplos 2005: ['125098  ', '125188  ', '125188  ']
  Ejemplos 2025: ['TQRMNOVQVHJOLOCDEFKID00875778', 'TQRMNOVQVHJOLOCDEFKID00875778', 'TQRMNOVQVHJOLOCDEFKID00875778']

NRO_HOGAR - 2005: float64, 2025: int64
  Valores únicos 2005: [np.float64(1.0), np.float64(2.0), np.float64(3.0), np.float64(4.0), np.float64(5.0)]
  Valores únicos 2025: [np.int64(1), np.int64(2), np.int64(3), np.int64(4), np.int64(51)]

COMPONENTE - 2005: float64, 2025: int64
  Valores únicos 2005: [np.float64(1.0), np.float64(2.0), np.float64(3.0), np.float64(4.0), np.float64(5.0)]
  Valores únicos 2025: [np.int64(1), np.int64(2), np.int64(3), np.int64(4), np.int64(5)]

AÑO - 2005: int64, 2025: int64
  Valores únicos 2005: [np.int64(2005)]
  Valores únicos 2025: [np.int64(2025)]

In [13]:
df_i_2005.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 47030 entries, 0 to 47029
Data columns (total 177 columns):
 #    Column      Dtype
---   ------      -----
 0    CODUSU      object
 1    NRO_HOGAR   float64
 2    COMPONENTE  float64
 3    H15         float64
 4    ANO4        float64
 5    TRIMESTRE   float64
 6    REGION      float64
 7    MAS_500     object
 8    AGLOMERADO  float64
 9    PONDERA     float64
 10   CH03        float64
 11   CH04        float64
 12   CH06        float64
 13   CH07        float64
 14   CH08        float64
 15   CH09        float64
 16   CH10        float64
 17   CH11        float64
 18   CH12        float64
 19   CH13        float64
 20   CH14        object
 21   CH15        float64
 22   CH15_COD    object
 23   CH16        float64
 24   CH16_COD    object
 25   NIVEL_ED    float64
 26   ESTADO      float64
 27   CAT_OCUP    float64
 28   CAT_INAC    float64
 29   PP02C1      float64
 30   PP02C2      float64
 31   PP02C3      float64
 32   PP02C4      float64
 33   PP02C5      float64
 34   PP02C6      float64
 35   PP02C7      float64
 36   PP02C8      float64
 37   PP02E       float64
 38   PP02H       float64
 39   PP02I       float64
 40   PP03C       float64
 41   PP03D       float64
 42   PP3E_TOT    float64
 43   PP3F_TOT    float64
 44   PP03G       float64
 45   PP03H       float64
 46   PP03I       float64
 47   PP03J       float64
 48   INTENSI     float64
 49   PP04A       float64
 50   PP04B_COD   object
 51   PP04B1      float64
 52   PP04B2      float64
 53   PP04B3_MES  float64
 54   PP04B3_ANO  float64
 55   PP04B3_DIA  float64
 56   PP04C       float64
 57   PP04C99     float64
 58   PP04D_COD   object
 59   PP04G       float64
 60   PP05B2_MES  float64
 61   PP05B2_ANO  float64
 62   PP05B2_DIA  float64
 63   PP05C_1     float64
 64   PP05C_2     float64
 65   PP05C_3     float64
 66   PP05E       float64
 67   PP05F       float64
 68   PP05H       float64
 69   PP06A       float64
 70   PP06C       float64
 71   PP06D       float64
 72   PP06E       float64
 73   PP06H       float64
 74   PP07A       float64
 75   PP07C       float64
 76   PP07D       float64
 77   PP07E       float64
 78   PP07F1      float64
 79   PP07F2      float64
 80   PP07F3      float64
 81   PP07F4      float64
 82   PP07F5      float64
 83   PP07G1      float64
 84   PP07G2      float64
 85   PP07G3      float64
 86   PP07G4      float64
 87   PP07G_59    float64
 88   PP07H       float64
 89   PP07I       float64
 90   PP07J       float64
 91   PP07K       float64
 92   PP08D1      float64
 93   PP08D4      float64
 94   PP08F1      float64
 95   PP08F2      float64
 96   PP08J1      float64
 97   PP08J2      float64
 98   PP08J3      float64
 99   PP09A       float64
 100  PP09A_ESP   object
 101  PP09B       float64
 102  PP09C       float64
 103  PP09C_ESP   object
 104  PP10A       float64
 105  PP10C       float64
 106  PP10D       float64
 107  PP10E       float64
 108  PP11A       float64
 109  PP11B_COD   object
 110  PP11B1      float64
 111  PP11B2_MES  float64
 112  PP11B2_ANO  float64
 113  PP11B2_DIA  float64
 114  PP11C       float64
 115  PP11C99     float64
 116  PP11D_COD   object
 117  PP11G_ANO   float64
 118  PP11G_MES   float64
 119  PP11G_DIA   float64
 120  PP11L       float64
 121  PP11L1      float64
 122  PP11M       float64
 123  PP11N       float64
 124  PP11O       float64
 125  PP11P       float64
 126  PP11Q       float64
 127  PP11R       float64
 128  PP11S       float64
 129  PP11T       float64
 130  P21         float64
 131  DECOCUR     object
 132  IDECOCUR    object
 133  RDECOCUR    object
 134  GDECOCUR    object
 135  PDECOCUR    object
 136  ADECOCUR    object
 137  TOT_P12     float64
 138  P47T        float64
 139  DECINDR     object
 140  IDECINDR    object
 141  RDECINDR    object
 142  GDECINDR    object
 143  PDECINDR    object
 144  ADECINDR    object
 145  V2_M        float64
 146  V3_M        float64
 147  V4_M        float64
 148  V5_M        float64
 149  V8_M        float64
 150  V9_M        float64
 151  V10_M       float64
 152  V11_M       float64
 153  V12_M       float64
 154  V18_M       float64
 155  V19_AM      float64
 156  V21_M       float64
 157  T_VI        float64
 158  ITF         float64
 159  DECIFR      object
 160  IDECIFR     object
 161  RDECIFR     object
 162  GDECIFR     object
 163  PDECIFR     object
 164  ADECIFR     object
 165  IPCF        float64
 166  DECCFR      object
 167  IDECCFR     object
 168  RDECCFR     object
 169  GDECCFR     object
 170  PDECCFR     object
 171  ADECCFR     object
 172  PJ1_1       float64
 173  PJ2_1       float64
 174  PJ3_1       float64
 175  IDIMPP      object
 176  AÑO         int64
dtypes: float64(140), int64(1), object(36)
memory usage: 63.5+ MB

In [14]:
df_i_2025.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45425 entries, 0 to 45424
Data columns (total 236 columns):
 #    Column      Dtype
---   ------      -----
 0    CODUSU      object
 1    ANO4        int64
 2    TRIMESTRE   int64
 3    NRO_HOGAR   int64
 4    COMPONENTE  int64
 5    H15         int64
 6    REGION      int64
 7    MAS_500     object
 8    AGLOMERADO  int64
 9    PONDERA     int64
 10   CH03        int64
 11   CH04        int64
 12   CH05        object
 13   CH06        int64
 14   CH07        int64
 15   CH08        float64
 16   CH09        int64
 17   CH10        int64
 18   CH11        int64
 19   CH12        int64
 20   CH13        int64
 21   CH14        float64
 22   CH15        int64
 23   CH15_COD    float64
 24   CH16        int64
 25   CH16_COD    float64
 26   NIVEL_ED    int64
 27   ESTADO      int64
 28   CAT_OCUP    int64
 29   CAT_INAC    int64
 30   IMPUTA      float64
 31   PP02C1      int64
 32   PP02C2      int64
 33   PP02C3      int64
 34   PP02C4      int64
 35   PP02C5      int64
 36   PP02C6      int64
 37   PP02C7      int64
 38   PP02C8      int64
 39   PP02E       int64
 40   PP02H       int64
 41   PP02I       int64
 42   PP03C       float64
 43   PP03D       float64
 44   PP3E_TOT    float64
 45   PP3F_TOT    float64
 46   PP03G       float64
 47   PP03H       float64
 48   PP03I       float64
 49   PP03J       float64
 50   INTENSI     float64
 51   PP04A       float64
 52   PP04B_COD   float64
 53   PP04B1      float64
 54   PP04B2      float64
 55   PP04B3_MES  float64
 56   PP04B3_ANO  float64
 57   PP04B3_DIA  float64
 58   PP04C       float64
 59   PP04C99     float64
 60   PP04D_COD   float64
 61   PP04G       float64
 62   PP05B2_MES  float64
 63   PP05B2_ANO  float64
 64   PP05B2_DIA  float64
 65   PP05C_1     float64
 66   PP05C_2     float64
 67   PP05C_3     float64
 68   PP05E       float64
 69   PP05F       float64
 70   PP05H       float64
 71   PP06A       float64
 72   PP06C       float64
 73   PP06D       float64
 74   PP06E       float64
 75   PP06H       float64
 76   PP07A       float64
 77   PP07C       float64
 78   PP07D       float64
 79   PP07E       float64
 80   PP07F1      float64
 81   PP07F2      float64
 82   PP07F3      float64
 83   PP07F4      float64
 84   PP07F5      float64
 85   PP07G1      float64
 86   PP07G2      float64
 87   PP07G3      float64
 88   PP07G4      float64
 89   PP07G_59    float64
 90   PP07H       float64
 91   PP07I       float64
 92   PP07J       float64
 93   PP07K       float64
 94   PP08D1      float64
 95   PP08D4      float64
 96   PP08F1      float64
 97   PP08F2      float64
 98   PP08J1      float64
 99   PP08J2      float64
 100  PP08J3      float64
 101  PP09A       float64
 102  PP09A_ESP   object
 103  PP09B       float64
 104  PP09C       float64
 105  PP09C_ESP   object
 106  PP10A       float64
 107  PP10C       float64
 108  PP10D       float64
 109  PP10E       float64
 110  PP11A       float64
 111  PP11B_COD   float64
 112  PP11B1      float64
 113  PP11B2_MES  float64
 114  PP11B2_ANO  float64
 115  PP11B2_DIA  float64
 116  PP11C       float64
 117  PP11C99     float64
 118  PP11D_COD   float64
 119  PP11G_ANO   float64
 120  PP11G_MES   float64
 121  PP11G_DIA   float64
 122  PP11L       float64
 123  PP11L1      float64
 124  PP11M       float64
 125  PP11N       float64
 126  PP11O       float64
 127  PP11P       float64
 128  PP11Q       float64
 129  PP11R       float64
 130  PP11S       float64
 131  PP11T       float64
 132  P21         int64
 133  DECOCUR     int64
 134  IDECOCUR    float64
 135  RDECOCUR    int64
 136  GDECOCUR    float64
 137  PDECOCUR    float64
 138  ADECOCUR    int64
 139  PONDIIO     int64
 140  TOT_P12     int64
 141  P47T        float64
 142  DECINDR     int64
 143  IDECINDR    float64
 144  RDECINDR    int64
 145  GDECINDR    float64
 146  PDECINDR    float64
 147  ADECINDR    int64
 148  PONDII      int64
 149  V3_M        int64
 150  V4_M        int64
 151  V8_M        int64
 152  V9_M        int64
 153  V10_M       int64
 154  V12_M       int64
 155  V18_M       int64
 156  V19_AM      int64
 157  T_VI        int64
 158  ITF         int64
 159  DECIFR      int64
 160  IDECIFR     float64
 161  RDECIFR     int64
 162  GDECIFR     float64
 163  PDECIFR     float64
 164  ADECIFR     int64
 165  IPCF        float64
 166  DECCFR      int64
 167  IDECCFR     float64
 168  RDECCFR     int64
 169  GDECCFR     float64
 170  PDECCFR     float64
 171  ADECCFR     int64
 172  PONDIH      int64
 173  V2_02_M     int64
 174  V2_03_M     int64
 175  V5_03_M     int64
 176  V11_02_M    int64
 177  PP07B1_01   float64
 178  EMPLEO      float64
 179  SECTOR      float64
 180  PP02A       int64
 181  PP02B       int64
 182  PP02D       int64
 183  PP02F       int64
 184  PP02G       int64
 185  PP03K       float64
 186  PP04A1      float64
 187  PP05B3      float64
 188  PP05I       float64
 189  PP05J       float64
 190  PP05K       float64
 191  PP06E1      float64
 192  PP06K       float64
 193  PP06K_SEM   float64
 194  PP06K_MES   float64
 195  PP06L       float64
 196  PP07F1_1    float64
 197  PP07F1_2    float64
 198  PP07F1_3    float64
 199  PP07I2      float64
 200  PP07I3      float64
 201  PP07I4      float64
 202  PP07L       float64
 203  PP07M       float64
 204  PP08G       float64
 205  PP08G_DSEM  float64
 206  PP08G_DMES  float64
 207  PP08H       float64
 208  PP10B1      float64
 209  PP10B2      float64
 210  PP10B3      float64
 211  PP10B4      float64
 212  PP10B5      float64
 213  PP10B6      float64
 214  PP10B7      float64
 215  PP10B8      float64
 216  PP10B9      float64
 217  PP10B10     float64
 218  PP11L2      float64
 219  V2_01_M     int64
 220  V5_01_M     int64
 221  V5_02_M     int64
 222  V11_01_M    int64
 223  V21_01_M    int64
 224  V21_02_M    int64
 225  V21_03_M    int64
 226  V22_01_M    int64
 227  V22_02_M    int64
 228  V22_03_M    int64
 229  P_DECCF     float64
 230  P_RDECCF    float64
 231  P_GDECCF    float64
 232  P_PDECCF    float64
 233  P_IDECCF    float64
 234  P_ADECCF    float64
 235  AÑO         int64
dtypes: float64(150), int64(81), object(5)
memory usage: 81.8+ MB

In [15]:
# Como son datos de diferentes años, lo apropiado es concatenar en lugar de merge
df_individual_completo = pd.concat([df_i_2005, df_i_2025], 
                                   ignore_index=True, sort=False)

print(f"Dataset combinado: {df_individual_completo.shape}")
print(f"Años en dataset combinado: {sorted(df_individual_completo['AÑO'].unique())}")

Dataset combinado: (92455, 244)
Años en dataset combinado: [np.int64(2005), np.int64(2025)]

In [16]:
df_individual_completo.info(verbose=True)
df_individual_completo

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92455 entries, 0 to 92454
Data columns (total 244 columns):
 #    Column      Dtype
---   ------      -----
 0    CODUSU      object
 1    NRO_HOGAR   float64
 2    COMPONENTE  float64
 3    H15         float64
 4    ANO4        float64
 5    TRIMESTRE   float64
 6    REGION      float64
 7    MAS_500     object
 8    AGLOMERADO  float64
 9    PONDERA     float64
 10   CH03        float64
 11   CH04        float64
 12   CH06        float64
 13   CH07        float64
 14   CH08        float64
 15   CH09        float64
 16   CH10        float64
 17   CH11        float64
 18   CH12        float64
 19   CH13        float64
 20   CH14        object
 21   CH15        float64
 22   CH15_COD    object
 23   CH16        float64
 24   CH16_COD    object
 25   NIVEL_ED    float64
 26   ESTADO      float64
 27   CAT_OCUP    float64
 28   CAT_INAC    float64
 29   PP02C1      float64
 30   PP02C2      float64
 31   PP02C3      float64
 32   PP02C4      float64
 33   PP02C5      float64
 34   PP02C6      float64
 35   PP02C7      float64
 36   PP02C8      float64
 37   PP02E       float64
 38   PP02H       float64
 39   PP02I       float64
 40   PP03C       float64
 41   PP03D       float64
 42   PP3E_TOT    float64
 43   PP3F_TOT    float64
 44   PP03G       float64
 45   PP03H       float64
 46   PP03I       float64
 47   PP03J       float64
 48   INTENSI     float64
 49   PP04A       float64
 50   PP04B_COD   object
 51   PP04B1      float64
 52   PP04B2      float64
 53   PP04B3_MES  float64
 54   PP04B3_ANO  float64
 55   PP04B3_DIA  float64
 56   PP04C       float64
 57   PP04C99     float64
 58   PP04D_COD   object
 59   PP04G       float64
 60   PP05B2_MES  float64
 61   PP05B2_ANO  float64
 62   PP05B2_DIA  float64
 63   PP05C_1     float64
 64   PP05C_2     float64
 65   PP05C_3     float64
 66   PP05E       float64
 67   PP05F       float64
 68   PP05H       float64
 69   PP06A       float64
 70   PP06C       float64
 71   PP06D       float64
 72   PP06E       float64
 73   PP06H       float64
 74   PP07A       float64
 75   PP07C       float64
 76   PP07D       float64
 77   PP07E       float64
 78   PP07F1      float64
 79   PP07F2      float64
 80   PP07F3      float64
 81   PP07F4      float64
 82   PP07F5      float64
 83   PP07G1      float64
 84   PP07G2      float64
 85   PP07G3      float64
 86   PP07G4      float64
 87   PP07G_59    float64
 88   PP07H       float64
 89   PP07I       float64
 90   PP07J       float64
 91   PP07K       float64
 92   PP08D1      float64
 93   PP08D4      float64
 94   PP08F1      float64
 95   PP08F2      float64
 96   PP08J1      float64
 97   PP08J2      float64
 98   PP08J3      float64
 99   PP09A       float64
 100  PP09A_ESP   object
 101  PP09B       float64
 102  PP09C       float64
 103  PP09C_ESP   object
 104  PP10A       float64
 105  PP10C       float64
 106  PP10D       float64
 107  PP10E       float64
 108  PP11A       float64
 109  PP11B_COD   object
 110  PP11B1      float64
 111  PP11B2_MES  float64
 112  PP11B2_ANO  float64
 113  PP11B2_DIA  float64
 114  PP11C       float64
 115  PP11C99     float64
 116  PP11D_COD   object
 117  PP11G_ANO   float64
 118  PP11G_MES   float64
 119  PP11G_DIA   float64
 120  PP11L       float64
 121  PP11L1      float64
 122  PP11M       float64
 123  PP11N       float64
 124  PP11O       float64
 125  PP11P       float64
 126  PP11Q       float64
 127  PP11R       float64
 128  PP11S       float64
 129  PP11T       float64
 130  P21         float64
 131  DECOCUR     object
 132  IDECOCUR    object
 133  RDECOCUR    object
 134  GDECOCUR    object
 135  PDECOCUR    object
 136  ADECOCUR    object
 137  TOT_P12     float64
 138  P47T        float64
 139  DECINDR     object
 140  IDECINDR    object
 141  RDECINDR    object
 142  GDECINDR    object
 143  PDECINDR    object
 144  ADECINDR    object
 145  V2_M        float64
 146  V3_M        float64
 147  V4_M        float64
 148  V5_M        float64
 149  V8_M        float64
 150  V9_M        float64
 151  V10_M       float64
 152  V11_M       float64
 153  V12_M       float64
 154  V18_M       float64
 155  V19_AM      float64
 156  V21_M       float64
 157  T_VI        float64
 158  ITF         float64
 159  DECIFR      object
 160  IDECIFR     object
 161  RDECIFR     object
 162  GDECIFR     object
 163  PDECIFR     object
 164  ADECIFR     object
 165  IPCF        float64
 166  DECCFR      object
 167  IDECCFR     object
 168  RDECCFR     object
 169  GDECCFR     object
 170  PDECCFR     object
 171  ADECCFR     object
 172  PJ1_1       float64
 173  PJ2_1       float64
 174  PJ3_1       float64
 175  IDIMPP      object
 176  AÑO         int64
 177  CH05        object
 178  IMPUTA      float64
 179  PONDIIO     float64
 180  PONDII      float64
 181  PONDIH      float64
 182  V2_02_M     float64
 183  V2_03_M     float64
 184  V5_03_M     float64
 185  V11_02_M    float64
 186  PP07B1_01   float64
 187  EMPLEO      float64
 188  SECTOR      float64
 189  PP02A       float64
 190  PP02B       float64
 191  PP02D       float64
 192  PP02F       float64
 193  PP02G       float64
 194  PP03K       float64
 195  PP04A1      float64
 196  PP05B3      float64
 197  PP05I       float64
 198  PP05J       float64
 199  PP05K       float64
 200  PP06E1      float64
 201  PP06K       float64
 202  PP06K_SEM   float64
 203  PP06K_MES   float64
 204  PP06L       float64
 205  PP07F1_1    float64
 206  PP07F1_2    float64
 207  PP07F1_3    float64
 208  PP07I2      float64
 209  PP07I3      float64
 210  PP07I4      float64
 211  PP07L       float64
 212  PP07M       float64
 213  PP08G       float64
 214  PP08G_DSEM  float64
 215  PP08G_DMES  float64
 216  PP08H       float64
 217  PP10B1      float64
 218  PP10B2      float64
 219  PP10B3      float64
 220  PP10B4      float64
 221  PP10B5      float64
 222  PP10B6      float64
 223  PP10B7      float64
 224  PP10B8      float64
 225  PP10B9      float64
 226  PP10B10     float64
 227  PP11L2      float64
 228  V2_01_M     float64
 229  V5_01_M     float64
 230  V5_02_M     float64
 231  V11_01_M    float64
 232  V21_01_M    float64
 233  V21_02_M    float64
 234  V21_03_M    float64
 235  V22_01_M    float64
 236  V22_02_M    float64
 237  V22_03_M    float64
 238  P_DECCF     float64
 239  P_RDECCF    float64
 240  P_GDECCF    float64
 241  P_PDECCF    float64
 242  P_IDECCF    float64
 243  P_ADECCF    float64
dtypes: float64(206), int64(1), object(37)
memory usage: 172.1+ MB

,CODUSU,NRO_HOGAR,COMPONENTE,H15,ANO4,TRIMESTRE,REGION,MAS_500,AGLOMERADO,PONDERA,...,V21_03_M,V22_01_M,V22_02_M,V22_03_M,P_DECCF,P_RDECCF,P_GDECCF,P_PDECCF,P_IDECCF,P_ADECCF
0,125098,1.0,1.0,1.0,2005.0,1.0,1.0,S,32.0,1017.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,125188,1.0,1.0,1.0,2005.0,1.0,1.0,S,32.0,1062.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,125188,1.0,2.0,1.0,2005.0,1.0,1.0,S,32.0,1062.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,125188,1.0,3.0,0.0,2005.0,1.0,1.0,S,32.0,1062.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,125242,1.0,1.0,1.0,2005.0,1.0,1.0,S,32.0,1103.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92450,TQRMNOPWQHLMKUCDEGJBF00852927,1.0,4.0,1.0,2025.0,1.0,43.0,S,13.0,773.0,...,0.0,0.0,0.0,0.0,8.0,8.0,8.0,NaN,8.0,8.0
92451,TQRMNOPWQHLMKUCDEGJBF00852927,1.0,5.0,0.0,2025.0,1.0,43.0,S,13.0,773.0,...,0.0,0.0,0.0,0.0,8.0,8.0,8.0,NaN,8.0,8.0
92452,TQRMNOSSVHLMLMCDEGJBF00852929,1.0,1.0,1.0,2025.0,1.0,43.0,S,13.0,719.0,...,0.0,0.0,0.0,0.0,10.0,10.0,10.0,NaN,10.0,10.0
92453,TQRMNOSSXHLMLMCDEGJBF00858297,2.0,1.0,1.0,2025.0,1.0,43.0,S,13.0,519.0,...,0.0,0.0,0.0,0.0,10.0,10.0,10.0,NaN,10.0,10.0
92454,TQRMNOSSXHLMLMCDEGJBF00858297,2.0,2.0,1.0,2025.0,1.0,43.0,S,13.0,519.0,...,0.0,0.0,0.0,0.0,10.0,10.0,10.0,NaN,10.0,10.0

In [17]:
# Verificar la distribución por año
distribucion_año = df_individual_completo['AÑO'].value_counts()
print("Distribución por año:")
print(distribucion_año)

# Verificar valores missing en variables clave
print("\nValores missing en variables clave:")
for var in variables_clave:
    missing = df_individual_completo[var].isnull().sum()
    print(f"{var}: {missing} valores missing ({missing/len(df_individual_completo)*100:.2f}%)")

Distribución por año:
AÑO
2005    47030
2025    45425
Name: count, dtype: int64

Valores missing en variables clave:
CODUSU: 0 valores missing (0.00%)
NRO_HOGAR: 0 valores missing (0.00%)
COMPONENTE: 0 valores missing (0.00%)
AÑO: 0 valores missing (0.00%)

In [18]:
# Guardar la base combinada
#df_individual_completo.to_excel('individual_2005_2025_completo.xlsx', index=False)
#print("Base individual combinada guardada como 'individual_2005_2025_completo.xlsx'")

# También guardar en formato Parquet para mejor eficiencia
#df_individual_completo.to_parquet('individual_2005_2025_completo.parquet', index=False)
#print("Base individual combinada guardada como 'individual_2005_2025_completo.parquet'")

punto b)

In [19]:
# nos quedamos con el sector de nuestro interes
df_caba = df_individual_completo[df_individual_completo['AGLOMERADO'] == 32].copy()
df_caba

,CODUSU,NRO_HOGAR,COMPONENTE,H15,ANO4,TRIMESTRE,REGION,MAS_500,AGLOMERADO,PONDERA,...,V21_03_M,V22_01_M,V22_02_M,V22_03_M,P_DECCF,P_RDECCF,P_GDECCF,P_PDECCF,P_IDECCF,P_ADECCF
0,125098,1.0,1.0,1.0,2005.0,1.0,1.0,S,32.0,1017.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,125188,1.0,1.0,1.0,2005.0,1.0,1.0,S,32.0,1062.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,125188,1.0,2.0,1.0,2005.0,1.0,1.0,S,32.0,1062.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,125188,1.0,3.0,0.0,2005.0,1.0,1.0,S,32.0,1062.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,125242,1.0,1.0,1.0,2005.0,1.0,1.0,S,32.0,1103.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92010,TQRMNORXPHMKMNCDEIIAD00882460,1.0,3.0,1.0,2025.0,1.0,1.0,S,32.0,1327.0,...,0.0,0.0,0.0,0.0,1.0,1.0,1.0,NaN,NaN,1.0
92011,TQRMNOPUTHMKMPCDEIIAD00882461,1.0,1.0,1.0,2025.0,1.0,1.0,S,32.0,819.0,...,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
92012,TQRMNOPUTHMKMPCDEIIAD00882461,1.0,2.0,1.0,2025.0,1.0,1.0,S,32.0,819.0,...,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
92013,TQRMNOPUTHMKMPCDEIIAD00882461,1.0,3.0,1.0,2025.0,1.0,1.0,S,32.0,819.0,...,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN
92014,TQRMNOPUTHMKMPCDEIIAD00882461,1.0,4.0,1.0,2025.0,1.0,1.0,S,32.0,819.0,...,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
df_caba_var = df_caba[['NRO_HOGAR','CODUSU','CH04', 'CH06', 'CH07', 'CH08', 'NIVEL_ED', 'ESTADO', 'CAT_INAC', 'IPCF', 'ANO4', 'CH10', 'CH11', 'CH12', 'CH15', 'EMPLEO', 'PP02B', 'PP02E']].copy()
df_caba_var

,NRO_HOGAR,CODUSU,CH04,CH06,CH07,CH08,NIVEL_ED,ESTADO,CAT_INAC,IPCF,ANO4,CH10,CH11,CH12,CH15,EMPLEO,PP02B,PP02E
0,1.0,125098,1.0,80.0,4.0,1.0,3.0,3.0,1.0,583.00,2005.0,2.0,0.0,4.0,1.0,NaN,NaN,0.0
1,1.0,125188,1.0,26.0,2.0,4.0,4.0,1.0,0.0,150.00,2005.0,2.0,0.0,4.0,2.0,NaN,NaN,0.0
2,1.0,125188,2.0,27.0,2.0,4.0,6.0,3.0,4.0,150.00,2005.0,2.0,0.0,6.0,1.0,NaN,NaN,0.0
3,1.0,125188,2.0,-1.0,5.0,4.0,7.0,4.0,5.0,150.00,2005.0,0.0,0.0,0.0,1.0,NaN,NaN,0.0
4,1.0,125242,2.0,71.0,4.0,1.0,2.0,3.0,1.0,855.00,2005.0,2.0,0.0,2.0,1.0,NaN,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92010,1.0,TQRMNORXPHMKMNCDEIIAD00882460,2.0,12.0,5.0,4.0,3.0,3.0,3.0,73333.33,2025.0,1.0,1.0,4.0,1.0,NaN,0.0,0.0
92011,1.0,TQRMNOPUTHMKMPCDEIIAD00882461,1.0,76.0,4.0,1.0,3.0,3.0,1.0,0.00,2025.0,2.0,0.0,4.0,1.0,NaN,0.0,0.0
92012,1.0,TQRMNOPUTHMKMPCDEIIAD00882461,2.0,49.0,1.0,4.0,4.0,2.0,0.0,0.00,2025.0,2.0,0.0,4.0,1.0,NaN,1.0,0.0
92013,1.0,TQRMNOPUTHMKMPCDEIIAD00882461,2.0,48.0,5.0,4.0,6.0,1.0,0.0,0.00,2025.0,2.0,0.0,6.0,1.0,2.0,0.0,0.0
92014,1.0,TQRMNOPUTHMKMPCDEIIAD00882461,2.0,25.0,5.0,4.0,4.0,2.0,0.0,0.00,2025.0,2.0,0.0,4.0,1.0,NaN,1.0,0.0

In [21]:
df_caba_var[['EMPLEO','PP02B']] = df_caba[['EMPLEO','PP02B']].fillna(0)
df_caba_var

,NRO_HOGAR,CODUSU,CH04,CH06,CH07,CH08,NIVEL_ED,ESTADO,CAT_INAC,IPCF,ANO4,CH10,CH11,CH12,CH15,EMPLEO,PP02B,PP02E
0,1.0,125098,1.0,80.0,4.0,1.0,3.0,3.0,1.0,583.00,2005.0,2.0,0.0,4.0,1.0,0.0,0.0,0.0
1,1.0,125188,1.0,26.0,2.0,4.0,4.0,1.0,0.0,150.00,2005.0,2.0,0.0,4.0,2.0,0.0,0.0,0.0
2,1.0,125188,2.0,27.0,2.0,4.0,6.0,3.0,4.0,150.00,2005.0,2.0,0.0,6.0,1.0,0.0,0.0,0.0
3,1.0,125188,2.0,-1.0,5.0,4.0,7.0,4.0,5.0,150.00,2005.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4,1.0,125242,2.0,71.0,4.0,1.0,2.0,3.0,1.0,855.00,2005.0,2.0,0.0,2.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92010,1.0,TQRMNORXPHMKMNCDEIIAD00882460,2.0,12.0,5.0,4.0,3.0,3.0,3.0,73333.33,2025.0,1.0,1.0,4.0,1.0,0.0,0.0,0.0
92011,1.0,TQRMNOPUTHMKMPCDEIIAD00882461,1.0,76.0,4.0,1.0,3.0,3.0,1.0,0.00,2025.0,2.0,0.0,4.0,1.0,0.0,0.0,0.0
92012,1.0,TQRMNOPUTHMKMPCDEIIAD00882461,2.0,49.0,1.0,4.0,4.0,2.0,0.0,0.00,2025.0,2.0,0.0,4.0,1.0,0.0,1.0,0.0
92013,1.0,TQRMNOPUTHMKMPCDEIIAD00882461,2.0,48.0,5.0,4.0,6.0,1.0,0.0,0.00,2025.0,2.0,0.0,6.0,1.0,2.0,0.0,0.0
92014,1.0,TQRMNOPUTHMKMPCDEIIAD00882461,2.0,25.0,5.0,4.0,4.0,2.0,0.0,0.00,2025.0,2.0,0.0,4.0,1.0,0.0,1.0,0.0

Ahora ya tenemos la matriz filtrada por CABA y con las variables de nuestro interes CH10	CH11	CH12	CH15	EMPLEO	PP02B	PP02E

A Limpiar la matriz

La variable empleo tiene muchos missing values entonces lo que hago es agregarle 0 en esos elementos vacios

In [22]:
df_caba_var.to_excel('df_caba_var.xlsx', index=False)
df_caba_var.to_json('df_caba_var.json', orient='records', lines=True)

Ahora vamos a cambiar el nombre de las columnas para la sencilla interpretacion

In [23]:
# Diccionario: nombre_actual -> nombre_nuevo
nuevos_nombres = {
    'CH04': 'genero',
    'CH06': 'edad', 
    'CH07': 'tipo_empleo',
    'CH08': 'parentesco',
    'NIVEL_ED': 'nivel_educ',
    'ESTADO': 'estado_empleo',
    'CAT_INAC': 'categoria_inactividad',
    'IPCF': 'ingreso_per_capita',
    'ANO4': 'anio',
    'CH10': 'tipo_cobertura_salud',
    'CH11': 'obra_social',
    'CH12': 'nivel_ocupacion',
    'CH15': 'tipo_contrato',
    'EMPLEO': 'empleo',
    'PP02B': 'busqueda_empleo',
    'PP02E': 'medio_busqueda_empleo',
    'CODUSU':'Distincion_vivienda_individuo',
    'NRO_HOGAR':'Distincion_vivienda_hogar'
}

df_caba_var = df_caba_var.rename(columns=nuevos_nombres)

In [24]:
df_caba_var

,Distincion_vivienda_hogar,Distincion_vivienda_individuo,genero,edad,tipo_empleo,parentesco,nivel_educ,estado_empleo,categoria_inactividad,ingreso_per_capita,anio,tipo_cobertura_salud,obra_social,nivel_ocupacion,tipo_contrato,empleo,busqueda_empleo,medio_busqueda_empleo
0,1.0,125098,1.0,80.0,4.0,1.0,3.0,3.0,1.0,583.00,2005.0,2.0,0.0,4.0,1.0,0.0,0.0,0.0
1,1.0,125188,1.0,26.0,2.0,4.0,4.0,1.0,0.0,150.00,2005.0,2.0,0.0,4.0,2.0,0.0,0.0,0.0
2,1.0,125188,2.0,27.0,2.0,4.0,6.0,3.0,4.0,150.00,2005.0,2.0,0.0,6.0,1.0,0.0,0.0,0.0
3,1.0,125188,2.0,-1.0,5.0,4.0,7.0,4.0,5.0,150.00,2005.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4,1.0,125242,2.0,71.0,4.0,1.0,2.0,3.0,1.0,855.00,2005.0,2.0,0.0,2.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
92010,1.0,TQRMNORXPHMKMNCDEIIAD00882460,2.0,12.0,5.0,4.0,3.0,3.0,3.0,73333.33,2025.0,1.0,1.0,4.0,1.0,0.0,0.0,0.0
92011,1.0,TQRMNOPUTHMKMPCDEIIAD00882461,1.0,76.0,4.0,1.0,3.0,3.0,1.0,0.00,2025.0,2.0,0.0,4.0,1.0,0.0,0.0,0.0
92012,1.0,TQRMNOPUTHMKMPCDEIIAD00882461,2.0,49.0,1.0,4.0,4.0,2.0,0.0,0.00,2025.0,2.0,0.0,4.0,1.0,0.0,1.0,0.0
92013,1.0,TQRMNOPUTHMKMPCDEIIAD00882461,2.0,48.0,5.0,4.0,6.0,1.0,0.0,0.00,2025.0,2.0,0.0,6.0,1.0,2.0,0.0,0.0
92014,1.0,TQRMNOPUTHMKMPCDEIIAD00882461,2.0,25.0,5.0,4.0,4.0,2.0,0.0,0.00,2025.0,2.0,0.0,4.0,1.0,0.0,1.0,0.0

In [25]:
# Limpieza concisa de valores sin sentido
def limpiar_valores_eph(df_caba_var):
    """
    Corrige valores sin sentido según documentación EPH
    """
    # Ingresos no positivos → NaN
    df_caba_var['ingreso_per_capita'] = np.where(df_caba_var['ingreso_per_capita'] <= 0, np.nan, df_caba_var['ingreso_per_capita'])
    
    # Edades fuera de rango [0, 120] → NaN
    df_caba_var['edad'] = np.where((df_caba_var['edad'] < 0) | (df_caba_var['edad'] > 120), np.nan, df_caba_var['edad'])

    # Variables categóricas con valores fuera de rango → NaN
    variables_categoricas = {
        'genero': [1, 2],
        'estado_empleo': [1, 2, 3, 4],
        'nivel_educ': [1, 2, 3, 4, 5, 6, 7],
        'parentesco': list(range(1, 13))
    }
    
    for var, valores_validos in variables_categoricas.items():
        df_caba_var[var] = np.where(df_caba_var[var].isin(valores_validos), df_caba_var[var], np.nan)
    
    return df_caba_var

# Aplicar limpieza
df_limpio = limpiar_valores_eph(df_caba_var.copy())

# Estadísticas de limpieza
print("Valores reemplazados por NaN:")
for col in df_limpio.columns:
    original_count = df_caba_var[col].count()
    limpio_count = df_limpio[col].count()
    if original_count != limpio_count:
        perdida = original_count - limpio_count
        print(f"{col}: {perdida} valores ({perdida/len(df_limpio)*100:.1f}%)")

Valores reemplazados por NaN:
edad: 29 valores (0.8%)
parentesco: 5 valores (0.1%)
estado_empleo: 8 valores (0.2%)
ingreso_per_capita: 546 valores (14.4%)

In [38]:
# Eliminar filas donde 'edad' es NaN
df_limpio = df_limpio.dropna(subset=['edad'])

# Verificar que no quedan valores nulos en 'edad'
print(f"Valores nulos en 'edad': {df_limpio['edad'].isnull().sum()}")

Valores nulos en 'edad': 0

In [39]:
df_limpio[['empleo','busqueda_empleo','ingreso_per_capita']] = df_limpio[['empleo','busqueda_empleo','ingreso_per_capita']].fillna(0)
df_limpio

C:\Users\juanc\AppData\Local\Temp\ipykernel_9492\4090013458.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_limpio[['empleo','busqueda_empleo','ingreso_per_capita']] = df_limpio[['empleo','busqueda_empleo','ingreso_per_capita']].fillna(0)

,Distincion_vivienda_hogar,Distincion_vivienda_individuo,genero,edad,tipo_empleo,parentesco,nivel_educ,estado_empleo,categoria_inactividad,ingreso_per_capita,anio,tipo_cobertura_salud,obra_social,nivel_ocupacion,tipo_contrato,empleo,busqueda_empleo,medio_busqueda_empleo
0,1.0,125098,1.0,80.0,4.0,1.0,3.0,3.0,1.0,583.00,2005.0,2.0,0.0,4.0,1.0,0.0,0.0,0.0
1,1.0,125188,1.0,26.0,2.0,4.0,4.0,1.0,0.0,150.00,2005.0,2.0,0.0,4.0,2.0,0.0,0.0,0.0
2,1.0,125188,2.0,27.0,2.0,4.0,6.0,3.0,4.0,150.00,2005.0,2.0,0.0,6.0,1.0,0.0,0.0,0.0
4,1.0,125242,2.0,71.0,4.0,1.0,2.0,3.0,1.0,855.00,2005.0,2.0,0.0,2.0,1.0,0.0,0.0,0.0
5,1.0,125436,1.0,54.0,2.0,1.0,4.0,1.0,0.0,1016.00,2005.0,2.0,0.0,4.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3798,1.0,TQRMNORXPHMKMNCDEIIAD00882460,2.0,12.0,5.0,4.0,3.0,3.0,3.0,73333.33,2025.0,1.0,1.0,4.0,1.0,0.0,0.0,0.0
3799,1.0,TQRMNOPUTHMKMPCDEIIAD00882461,1.0,76.0,4.0,1.0,3.0,3.0,1.0,0.00,2025.0,2.0,0.0,4.0,1.0,0.0,0.0,0.0
3800,1.0,TQRMNOPUTHMKMPCDEIIAD00882461,2.0,49.0,1.0,4.0,4.0,2.0,0.0,0.00,2025.0,2.0,0.0,4.0,1.0,0.0,1.0,0.0
3801,1.0,TQRMNOPUTHMKMPCDEIIAD00882461,2.0,48.0,5.0,4.0,6.0,1.0,0.0,0.00,2025.0,2.0,0.0,6.0,1.0,2.0,0.0,0.0
3802,1.0,TQRMNOPUTHMKMPCDEIIAD00882461,2.0,25.0,5.0,4.0,4.0,2.0,0.0,0.00,2025.0,2.0,0.0,4.0,1.0,0.0,1.0,0.0

In [37]:
df_limpio.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3803 entries, 0 to 3802
Data columns (total 18 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   Distincion_vivienda_hogar      3803 non-null   float64
 1   Distincion_vivienda_individuo  3803 non-null   object
 2   genero                         3803 non-null   float64
 3   edad                           3774 non-null   float64
 4   tipo_empleo                    3803 non-null   float64
 5   parentesco                     3798 non-null   float64
 6   nivel_educ                     3803 non-null   float64
 7   estado_empleo                  3795 non-null   float64
 8   categoria_inactividad          3803 non-null   float64
 9   ingreso_per_capita             3803 non-null   float64
 10  anio                           3803 non-null   float64
 11  tipo_cobertura_salud           3803 non-null   float64
 12  obra_social                    3803 non-null   float64
 13  nivel_ocupacion                3803 non-null   float64
 14  tipo_contrato                  3803 non-null   float64
 15  empleo                         3803 non-null   float64
 16  busqueda_empleo                3803 non-null   float64
 17  medio_busqueda_empleo          3803 non-null   float64
dtypes: float64(17), object(1)
memory usage: 534.9+ KB

In [40]:
df_limpio

,Distincion_vivienda_hogar,Distincion_vivienda_individuo,genero,edad,tipo_empleo,parentesco,nivel_educ,estado_empleo,categoria_inactividad,ingreso_per_capita,anio,tipo_cobertura_salud,obra_social,nivel_ocupacion,tipo_contrato,empleo,busqueda_empleo,medio_busqueda_empleo
0,1.0,125098,1.0,80.0,4.0,1.0,3.0,3.0,1.0,583.00,2005.0,2.0,0.0,4.0,1.0,0.0,0.0,0.0
1,1.0,125188,1.0,26.0,2.0,4.0,4.0,1.0,0.0,150.00,2005.0,2.0,0.0,4.0,2.0,0.0,0.0,0.0
2,1.0,125188,2.0,27.0,2.0,4.0,6.0,3.0,4.0,150.00,2005.0,2.0,0.0,6.0,1.0,0.0,0.0,0.0
4,1.0,125242,2.0,71.0,4.0,1.0,2.0,3.0,1.0,855.00,2005.0,2.0,0.0,2.0,1.0,0.0,0.0,0.0
5,1.0,125436,1.0,54.0,2.0,1.0,4.0,1.0,0.0,1016.00,2005.0,2.0,0.0,4.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3798,1.0,TQRMNORXPHMKMNCDEIIAD00882460,2.0,12.0,5.0,4.0,3.0,3.0,3.0,73333.33,2025.0,1.0,1.0,4.0,1.0,0.0,0.0,0.0
3799,1.0,TQRMNOPUTHMKMPCDEIIAD00882461,1.0,76.0,4.0,1.0,3.0,3.0,1.0,0.00,2025.0,2.0,0.0,4.0,1.0,0.0,0.0,0.0
3800,1.0,TQRMNOPUTHMKMPCDEIIAD00882461,2.0,49.0,1.0,4.0,4.0,2.0,0.0,0.00,2025.0,2.0,0.0,4.0,1.0,0.0,1.0,0.0
3801,1.0,TQRMNOPUTHMKMPCDEIIAD00882461,2.0,48.0,5.0,4.0,6.0,1.0,0.0,0.00,2025.0,2.0,0.0,6.0,1.0,2.0,0.0,0.0
3802,1.0,TQRMNOPUTHMKMPCDEIIAD00882461,2.0,25.0,5.0,4.0,4.0,2.0,0.0,0.00,2025.0,2.0,0.0,4.0,1.0,0.0,1.0,0.0

Limpio! punto c)

In [27]:
df_limpio.reset_index(drop=True, inplace=True)
df_limpio

,Distincion_vivienda_hogar,Distincion_vivienda_individuo,genero,edad,tipo_empleo,parentesco,nivel_educ,estado_empleo,categoria_inactividad,ingreso_per_capita,anio,tipo_cobertura_salud,obra_social,nivel_ocupacion,tipo_contrato,empleo,busqueda_empleo,medio_busqueda_empleo
0,1.0,125098,1.0,80.0,4.0,1.0,3.0,3.0,1.0,583.00,2005.0,2.0,0.0,4.0,1.0,0.0,0.0,0.0
1,1.0,125188,1.0,26.0,2.0,4.0,4.0,1.0,0.0,150.00,2005.0,2.0,0.0,4.0,2.0,0.0,0.0,0.0
2,1.0,125188,2.0,27.0,2.0,4.0,6.0,3.0,4.0,150.00,2005.0,2.0,0.0,6.0,1.0,0.0,0.0,0.0
3,1.0,125188,2.0,NaN,5.0,4.0,7.0,4.0,5.0,150.00,2005.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4,1.0,125242,2.0,71.0,4.0,1.0,2.0,3.0,1.0,855.00,2005.0,2.0,0.0,2.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3798,1.0,TQRMNORXPHMKMNCDEIIAD00882460,2.0,12.0,5.0,4.0,3.0,3.0,3.0,73333.33,2025.0,1.0,1.0,4.0,1.0,0.0,0.0,0.0
3799,1.0,TQRMNOPUTHMKMPCDEIIAD00882461,1.0,76.0,4.0,1.0,3.0,3.0,1.0,0.00,2025.0,2.0,0.0,4.0,1.0,0.0,0.0,0.0
3800,1.0,TQRMNOPUTHMKMPCDEIIAD00882461,2.0,49.0,1.0,4.0,4.0,2.0,0.0,0.00,2025.0,2.0,0.0,4.0,1.0,0.0,1.0,0.0
3801,1.0,TQRMNOPUTHMKMPCDEIIAD00882461,2.0,48.0,5.0,4.0,6.0,1.0,0.0,0.00,2025.0,2.0,0.0,6.0,1.0,2.0,0.0,0.0
3802,1.0,TQRMNOPUTHMKMPCDEIIAD00882461,2.0,25.0,5.0,4.0,4.0,2.0,0.0,0.00,2025.0,2.0,0.0,4.0,1.0,0.0,1.0,0.0

In [28]:
df_limpio.to_excel('df_caba_var_limpio.xlsx', index=False)

---

punto opcional d)

In [29]:
df_hogar05 = df_hogar_2005[['NRO_HOGAR','CODUSU','IV1', 'IV2', 'IV6', 'IV8', 'II8']].copy()
df_hogar25 = df_hogar_2025[['NRO_HOGAR','CODUSU','IV1', 'IV2', 'IV6', 'IV8', 'II8']].copy()

df_hogar05

       NRO_HOGAR    CODUSU  IV1  IV2  IV6  IV8  II8
0            1.0  125082    1.0  4.0  1.0  1.0  1.0
1            1.0  125283    1.0  3.0  1.0  1.0  1.0
2            1.0  125409    1.0  6.0  1.0  1.0  1.0
3            1.0  125632    1.0  3.0  1.0  1.0  1.0
4            1.0  126192    1.0  4.0  1.0  1.0  1.0
...          ...       ...  ...  ...  ...  ...  ...
13592        1.0  285584    1.0  6.0  1.0  1.0  1.0
13593        1.0  285787    1.0  1.0  1.0  1.0  1.0
13594        1.0  288074    1.0  4.0  1.0  1.0  1.0
13595        1.0  288189    1.0  4.0  1.0  1.0  2.0
13596        1.0  288240    1.0  4.0  1.0  1.0  1.0

[13597 rows x 7 columns]

In [30]:
df_hogar25

       NRO_HOGAR                         CODUSU  IV1  IV2  IV6  IV8  II8
0              1  TQRMNOQVSHKOLNCDEGGFB00858441    1    4    1    1    2
1              1  TQSMNORTSHMOLTCDEGGFB00877605    1    3    1    1    1
2              1  TQRMNOQQXHMMMLCDEGGFB00877606    1    2    1    1    1
3              1  TQRMNOTTWHMMLOCDEFIAH00877819    1    2    1    1    1
4              2  TQRMNORQQHLMKOCDEHIBB00853810    1    1    1    1    2
...          ...                            ...  ...  ...  ...  ...  ...
15979          1  TQRMNOSXVHJMLOCDEGGFB00875746    1    3    1    1    1
15980          1  TQRMNOQVQHLMLOCDEGGFB00852621    1    3    1    1    1
15981          1  TQRMNOSVYHKOLMCDEGGFB00860046    1    3    1    1    2
15982          1  TQRMNOQWQHJNLRCDEGGFB00875615    1    2    1    1    1
15983          1  TQRMNOQWRHJNLRCDEGGFB00875576    1    2    1    1    1

[15984 rows x 7 columns]

ahora mergeemos por todos lados y veamos que obtenemos

In [31]:
#limpiamos valores perdidos
df_hogar25[['IV1','IV2','IV6','IV8','II8']] = df_hogar25[['IV1','IV2','IV6','IV8','II8']].fillna(0)
df_hogar25

       NRO_HOGAR                         CODUSU  IV1  IV2  IV6  IV8  II8
0              1  TQRMNOQVSHKOLNCDEGGFB00858441    1    4    1    1    2
1              1  TQSMNORTSHMOLTCDEGGFB00877605    1    3    1    1    1
2              1  TQRMNOQQXHMMMLCDEGGFB00877606    1    2    1    1    1
3              1  TQRMNOTTWHMMLOCDEFIAH00877819    1    2    1    1    1
4              2  TQRMNORQQHLMKOCDEHIBB00853810    1    1    1    1    2
...          ...                            ...  ...  ...  ...  ...  ...
15979          1  TQRMNOSXVHJMLOCDEGGFB00875746    1    3    1    1    1
15980          1  TQRMNOQVQHLMLOCDEGGFB00852621    1    3    1    1    1
15981          1  TQRMNOSVYHKOLMCDEGGFB00860046    1    3    1    1    2
15982          1  TQRMNOQWQHJNLRCDEGGFB00875615    1    2    1    1    1
15983          1  TQRMNOQWRHJNLRCDEGGFB00875576    1    2    1    1    1

[15984 rows x 7 columns]

In [32]:
df_hogar05[['IV1','IV2','IV6','IV8','II8']] = df_hogar05[['IV1','IV2','IV6','IV8','II8']].fillna(0)
df_hogar05

       NRO_HOGAR    CODUSU  IV1  IV2  IV6  IV8  II8
0            1.0  125082    1.0  4.0  1.0  1.0  1.0
1            1.0  125283    1.0  3.0  1.0  1.0  1.0
2            1.0  125409    1.0  6.0  1.0  1.0  1.0
3            1.0  125632    1.0  3.0  1.0  1.0  1.0
4            1.0  126192    1.0  4.0  1.0  1.0  1.0
...          ...       ...  ...  ...  ...  ...  ...
13592        1.0  285584    1.0  6.0  1.0  1.0  1.0
13593        1.0  285787    1.0  1.0  1.0  1.0  1.0
13594        1.0  288074    1.0  4.0  1.0  1.0  1.0
13595        1.0  288189    1.0  4.0  1.0  1.0  2.0
13596        1.0  288240    1.0  4.0  1.0  1.0  1.0

[13597 rows x 7 columns]

In [33]:
#mergeamos 2005 2025
df_hogar = pd.concat([df_hogar05, df_hogar25], axis=0)

In [34]:
nuevos_nombres = {
    'IV1':'Tipo_de_vivienda',
    'IV2':'ambientes',
    'IV6':'agua',
    'IV8':'baño',
    'II8':'gas',
    'CODUSU':'Distincion_vivienda_individuo',
    'NRO_HOGAR':'Distincion_vivienda_hogar'
}

df_hogar = df_hogar.rename(columns=nuevos_nombres)

In [35]:
def realizar_uniones(df_limpio, df_hogar):
    """
    Realiza los cuatro tipos de uniones entre las bases
    """
    # Verificar que las columnas de unión existen en ambos DataFrames
    columnas_union = ['Distincion_vivienda_individuo', 'Distincion_vivienda_hogar'] #antes: ['CODUSU', 'NRO_HOGAR']
    
    for col in columnas_union:
        if col not in df_limpio.columns:
            print(f"Advertencia: Columna {col} no encontrada en df_limpio")
            return None, None, None, None
        if col not in df_hogar.columns:
            print(f"Advertencia: Columna {col} no encontrada en df_hogar")
            return None, None, None, None
    
    # Inner join - solo coincidencias perfectas
    inner_join = pd.merge(
        df_limpio, 
        df_hogar, 
        on=columnas_union, 
        how='inner',
        suffixes=('_ind', '_hogar')
    )
    
    # Left join - mantiene todos los individuos
    left_join = pd.merge(
        df_limpio, 
        df_hogar, 
        on=columnas_union, 
        how='left',
        suffixes=('_ind', '_hogar')
    )
    
    # Right join - mantiene todos los hogares  
    right_join = pd.merge(
        df_limpio, 
        df_hogar, 
        on=columnas_union, 
        how='right',
        suffixes=('_ind', '_hogar')
    )
    
    # Full join - mantiene todos los registros
    full_join = pd.merge(
        df_limpio, 
        df_hogar, 
        on=columnas_union, 
        how='outer',
        suffixes=('_ind', '_hogar')
    )
    
    print(f"Uniones completadas:")
    print(f"- Inner join: {inner_join.shape[0]} registros")
    print(f"- Left join: {left_join.shape[0]} registros")
    print(f"- Right join: {right_join.shape[0]} registros")
    print(f"- Full join: {full_join.shape[0]} registros")
    
    return inner_join, left_join, right_join, full_join

# Realizar las uniones
inner_data, left_data, right_data, full_data = realizar_uniones(df_limpio, df_hogar)

Uniones completadas:
- Inner join: 3803 registros
- Left join: 3803 registros
- Right join: 31844 registros
- Full join: 31844 registros

In [36]:
def analizar_merges(inner_data, left_data, right_data, full_data):
    """
    Analiza y muestra estadísticas de los cuatro tipos de merge
    """
    print("=" * 60)
    print("ANÁLISIS DE LOS MERGES REALIZADOS")
    print("=" * 60)
    
    # Diccionario con los merges y sus nombres
    merges = {
        'INNER JOIN': inner_data,
        'LEFT JOIN': left_data,
        'RIGHT JOIN': right_data,
        'FULL JOIN': full_data
    }
    
    resultados = []
    
    for nombre, df in merges.items():
        if df is not None:
            # Calcular estadísticas
            filas = df.shape[0]
            columnas = df.shape[1]
            total_valores = filas * columnas
            missing_values = df.isnull().sum().sum()
            porcentaje_missing = (missing_values / total_valores) * 100 if total_valores > 0 else 0
            
            resultados.append({
                'Tipo de Merge': nombre,
                'Filas': filas,
                'Columnas': columnas,
                'Missing Values': missing_values,
                '% Missing': f"{porcentaje_missing:.2f}%"
            })
            
            # Mostrar información detallada
            print(f"\n{nombre}:")
            print(f"  • Filas: {filas:,}")
            print(f"  • Columnas: {columnas}")
            print(f"  • Missing Values: {missing_values:,}")
            print(f"  • % Missing: {porcentaje_missing:.2f}%")
            
            # Mostrar las columnas con más missing values (top 5)
            if missing_values > 0:
                missing_por_columna = df.isnull().sum().sort_values(ascending=False)
                top_5_missing = missing_por_columna[missing_por_columna > 0].head(5)
                if len(top_5_missing) > 0:
                    print("  • Top 5 columnas con missing values:")
                    for col, count in top_5_missing.items():
                        porcentaje_col = (count / filas) * 100
                        print(f"    - {col}: {count:,} ({porcentaje_col:.1f}%)")
        else:
            print(f"\n{nombre}: No disponible")
    
    # Crear DataFrame resumen
    df_resumen = pd.DataFrame(resultados)
    
    print("\n" + "=" * 60)
    print("RESUMEN COMPARATIVO")
    print("=" * 60)
    print(df_resumen.to_string(index=False))
    
    return df_resumen

# Ejecutar el análisis
print("Analizando los merges realizados...")
resumen_merges = analizar_merges(inner_data, left_data, right_data, full_data)

# Análisis adicional comparativo
print("\n" + "=" * 60)
print("ANÁLISIS COMPARATIVO ADICIONAL")
print("=" * 60)

if all(x is not None for x in [inner_data, left_data, right_data, full_data]):
    print(f"Filas en df_limpio (individual): {df_limpio.shape[0]:,}")
    print(f"Filas en df_hogar (hogar): {df_hogar.shape[0]:,}")
    print(f"Coincidencias perfectas (INNER): {inner_data.shape[0]:,}")
    print(f"Individuos sin hogar (LEFT only): {left_data.shape[0] - inner_data.shape[0]:,}")
    print(f"Hogares sin individuos (RIGHT only): {right_data.shape[0] - inner_data.shape[0]:,}")
    
    # Calcular porcentaje de coincidencia
    coincidencia_porcentaje = (inner_data.shape[0] / min(df_limpio.shape[0], df_hogar.shape[0])) * 100
    print(f"Porcentaje de coincidencia: {coincidencia_porcentaje:.1f}%")

Analizando los merges realizados...
============================================================
ANÁLISIS DE LOS MERGES REALIZADOS
============================================================

INNER JOIN:
  • Filas: 3,803
  • Columnas: 23
  • Missing Values: 42
  • % Missing: 0.05%
  • Top 5 columnas con missing values:
    - edad: 29 (0.8%)
    - estado_empleo: 8 (0.2%)
    - parentesco: 5 (0.1%)

LEFT JOIN:
  • Filas: 3,803
  • Columnas: 23
  • Missing Values: 42
  • % Missing: 0.05%
  • Top 5 columnas con missing values:
    - edad: 29 (0.8%)
    - estado_empleo: 8 (0.2%)
    - parentesco: 5 (0.1%)

RIGHT JOIN:
  • Filas: 31,844
  • Columnas: 23
  • Missing Values: 448,698
  • % Missing: 61.26%
  • Top 5 columnas con missing values:
    - edad: 28,070 (88.1%)
    - estado_empleo: 28,049 (88.1%)
    - parentesco: 28,046 (88.1%)
    - tipo_empleo: 28,041 (88.1%)
    - nivel_educ: 28,041 (88.1%)

FULL JOIN:
  • Filas: 31,844
  • Columnas: 23
  • Missing Values: 448,698
  • % Missing: 61.26%
  • Top 5 columnas con missing values:
    - edad: 28,070 (88.1%)
    - estado_empleo: 28,049 (88.1%)
    - parentesco: 28,046 (88.1%)
    - tipo_empleo: 28,041 (88.1%)
    - nivel_educ: 28,041 (88.1%)

============================================================
RESUMEN COMPARATIVO
============================================================
Tipo de Merge  Filas  Columnas  Missing Values % Missing
   INNER JOIN   3803        23              42     0.05%
    LEFT JOIN   3803        23              42     0.05%
   RIGHT JOIN  31844        23          448698    61.26%
    FULL JOIN  31844        23          448698    61.26%

============================================================
ANÁLISIS COMPARATIVO ADICIONAL
============================================================
Filas en df_limpio (individual): 3,803
Filas en df_hogar (hogar): 29,581
Coincidencias perfectas (INNER): 3,803
Individuos sin hogar (LEFT only): 0
Hogares sin individuos (RIGHT only): 28,041
Porcentaje de coincidencia: 100.0%

Punto 1 finalizado

---